[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
_sgbak
*.zip
*.xls
Install/*
AdWords/*
Ad*Ideas/*
Articles/*
Backup/*
Beta_Website/*
CodeGen/*
Copier/*
DictoMerc/*
*Mockup/*
*testArea/*
Example*Code/*
Install*/*
LCC*
Tester/*
*/.svn/*
LlamaCarbonCopy_11*
Resource*Material/*
Website_SVN/*
Shadow*
XDelta/*
